$ol_style: (
  decimal               : decimal,
  decimal-leading-zero  : decimal-leading-zero,
  
  lower-alpha           : lower-alpha,
  lower-greek           : lower-greek,
  lower-latin           : lower-latin,
  lower-roman           : lower-roman,
  
  upper-alpha           : upper-alpha,
  upper-latin           : upper-latin,
  upper-roman           : upper-roman,
  
  armenian              : armenian,
  cjk-ideographic       : cjk-ideographic,
  georgian              : georgian,
  hebrew                : hebrew,
  hiragana              : hiragana,
  hiragana-iroha        : hiragana-iroha,
  katakana              : katakana,
  katakana-iroha        : katakana-iroha,
);

$ul_style: (
  circle                : circle,
  disc                  : disc,
  square                : square,
);

ol {
  @each $list, $type in $ol_style {
    &.#{$list} {
      list-style-type: $type
    }
  }
}

ul {
  @each $list, $type in $ul_style {
    &.list {
      &-#{$list} {
        margin-left: 1em;
        list-style-type: $type
      }
    }
  }
}

$list_style_type: $ul_style;

ul .item,
ol .item{
  @each $style, $type in $list_style_type {
  &-#{$style} {
      list-style-type: $type
    }
  }
}

.list {
  &-none {
    list-style-type: none
  }

  &-icon {
    list-style-type: none;

    li {
      display: inline-flex;
        align-items: center
    }
  }
}