@use 'sass:map';

@each $key, $alpha in map.get($_default, 'opacity') {
  //
  [opacity='#{$key}']::before,
  [opacity='#{$key}']::after {
    opacity: $alpha
  }

  //
  .child-opacity\:#{$key} > * {
    opacity: $alpha;

    &:hover {
      opacity: unset
    }
  }
}

.visibility {
  &-hidden {
    visibility: hidden
  }

  &-visible {
    visibility: visible
  }
}

:disabled, .disabled, .muted {
  opacity: .5
}