@use 'sass:map';

@each $key, $alpha in map.get($_default, 'opacity') {
  [opacity='#{$key}']::before,
  [opacity='#{$key}']::after {
    opacity: $alpha
  }
}

.visibility {
  &-hidden {
    visibility: hidden
  }

  &-visible {
    visibility: visible
  }
}

:disabled, .disabled, .muted {
  opacity: .5
}