@use 'sass:map';

$overflow: (visible hidden clip scroll auto);

@each $var in $overflow {
  .overflow-#{$var} {
    overflow: $var
  }

  @include breakpoint-from("overflow-#{$var}") {
    overflow: $var
  }
}