@use 'sass:map';

$z-index: (
  1: 111,
  2: 222,
  3: 333,
  4: 444,
  5: 555,
  6: 666,
  7: 777,
  8: 888,
  9: 999,
) !default;

.z {
  @each $z, $value in $z-index {
    &-#{$z} {
      z-index: $value
    }
  }
}

@each $z, $value in $z-index {
  @include create-pseudo-variant-of(z-#{$z}) {
    z-index: $value
  }
}