@use 'sass:map';

footer {
  display: flex;
    align-items: center;

  h {
    @for $i from 1 through 6 {
      &#{$i} {
        color: inherit;
        margin: {
          top: 0;
          bottom: 0
        }
      }
    }
  }

  p {
    &:only-child {
      width: 100%;
      margin: 0
    }
  }

  &.bg-none {
    background-color: $none;
    @include border($width: 0);
  }
}