header {
  display: flex;
    align-items: center;
  width: 100%;
    
  h {
    @for $i from 1 through 6 {
      &#{$i} {
        color: inherit;
        margin: {
          top: 0;
          bottom: 0
        }
      }
    }
  }

  &.bg-none {
    background-color: $none;
  }
}