@use 'sass:map';
$object: (
  top: top,
  left: left,
  bottom: bottom,
  right: right,

  top-left: top left,
  top-right: top right,

  bottom-left: top bottom,
  bottom-right: left right,

  center: center,
);
  
.aspect {
  &-auto {
    aspect-ratio: auto
  }

  &-square {
    aspect-ratio: 1 / 1
  }

  &-video {
    aspect-ratio: 16 / 9
  }
}

.object {
  &-cover {
    object-fit: cover
  }

  &-contain {
    object-fit: contain
  }

  &-fill {
    object-fit: fill
  }

  &-scale-down {
    object-fit: scale-down
  }

  &-none {
    object-fit: none
  }

  @each $side, $values in $object {
    &-#{$side} {
      object-position: $values
    }
  }
}
